<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BesTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A424D6E11D65556800A6AE2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A424D6FA1D65556800A6AE2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A424D7051D65556900A6AE2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
